@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ===== Table Wrapper ===== */
.table-wrapper {
  border: 1px solid #000;
  overflow: auto;
}

/* ===== Table ===== */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
    table-layout: auto;
}

/* ===== Scrollable Table-Body ===== */
.custom-table tbody.t_body_scrollable {
  display: block;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.custom-table thead,
.t_body_scrollable tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* ===== Header ===== */
.custom-table thead tr {
  background-color: #e3a3a3;
}

.custom-table th,
.custom-table td {
  width: 300px;
  padding: 10px;
  font-size: 0.9rem;
  color: #2f2a2be8;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
  width: 120px;
}

/* ===== Sticky Last Column ===== */
.custom-table th:last-child,
.custom-table td:last-child {
  width: 180px;
  position: sticky;
  right: 0;
  z-index: 2;
  background-color: #2a7f97;
}

/* ===== Hover Effect ===== */
.custom-table tbody tr {
  transition: background-color 0.2s ease;
}

.custom-table tbody tr:hover {
  background-color: #80808014;
}

/* ===== Actions ===== */
.actions {
  /* display: flex; */
  gap: 8px;
  align-items: center;
}

.dotted {
  font-size: 1.4rem;
  cursor: pointer;
}

.buttn-sec {
  display: none;
}

.actions:hover .buttn-sec {
  display: flex;
}

.actions:hover .dotted {
  display: none;
}

/* ===== Buttons ===== */
.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: unset;
  transition: opacity 0.2s ease;
}

.btn i {
  font-size: 1rem;
  color: #000;
}

.btn:hover {
  opacity: 0.75;
}

/* ===== Scrollbar Styling ===== */
/* .t_body_scrollable ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.t_body_scrollable ::-webkit-scrollbar-thumb {
  background-color: #a02424;
  border-radius: 8px;
} */
