
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-wrapper {
    width: 80%;
    max-height: 400px; 
    overflow: auto;   
    margin: 20px auto;
    border: 1px solid #000;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Arial, sans-serif;
    min-width: 900px; 
}

.custom-table thead th {
    position: sticky;
    top: 0;
    background: #f2f2f2; 
    z-index: 9; 
}

.custom-table th,
.custom-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
     white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
}

/* ===== Column Widths ===== */
.custom-table th:nth-child(1) {
    width: 5%;
}

.custom-table th:nth-child(2),
.custom-table th:nth-child(3),
.custom-table th:nth-child(4),
.custom-table th:nth-child(5) {
    width: 18%;
}

.custom-table tr td:last-child {
    position: sticky;
    right: 0;
    z-index: 2;
    background-color: yellow;
}




/* ===== Button Styling ===== */
.actions {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}

.btn.edit {
    background-color: #4caf50;
    color: #fff;
}

.btn.delete {
    background-color: #f44336;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}
