@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-wrapper {
    width: 80%;
    max-height: 400px; 
    overflow: auto;   
    margin: 20px auto;
    border: 1px solid #000;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: "Roboto", sans-serif;
    min-width: 900px; 
}


.custom-table thead tr {
    position: sticky;
    top: 0;
    background: #e3a3a3; 
    z-index: 9; 
   
}

.custom-table th,
.custom-table td {
    padding: 10px;
    font-size: 0.9rem;
    color: #2f2a2be8;
    text-align: left;
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
}

.custom-table tbody tr{
    transition: border 0.3s ease-in;
    transition-delay: 0s;
}

.custom-table tbody tr:hover{
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    border: 1px solid #80808047;
}

/* ===== Column Widths ===== */
.custom-table th:nth-child(1) {
    width: 8%;
}

.custom-table th:nth-child(2),
.custom-table th:nth-child(3),
.custom-table th:nth-child(4),
.custom-table th:nth-child(5) {
    width: 20%;
}
.custom-table th:last-child{
    width: 12%;
}



.custom-table tr td:last-child {
    position: sticky;
    right: 0;
    z-index: 2;
    /* background-color: #747437; */
}




/* ===== Button Styling ===== */
.actions {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}

.btn.view{
    color: #fff;
    background-color: unset;
}

.btn.edit {
    background-color: unset;
    color: #fff;
}

.btn.delete {
    background-color: unset;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}

.dotted{
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
}

.buttn-sec{
    display: none;
}

.actions:hover .buttn-sec{
    display: inline-block;
}

.actions:hover .dotted{
    display: none;
}

.actions span:hover .buttn-sec{
    display: block;
}

.buttn-sec .btn i{
    color: #000;
    font-size: 1rem;
}

/* ====== table scrollbar styling ======== */

.table-wrapper::-webkit-scrollbar {
    width:6px;
    height: 6px;
    background-color:#eef1fa;
}

.table-wrapper::-webkit-scrollbar-thumb{
    background-color: #a02424;
    border-radius:0.8rem;
    width:5px;
    height: 5px;
}

